<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Bonjour, <%= @user.email %></h1>
  <p>
    Vous avez demandé la réinitialisation de votre mot de passe. Pour cela merci de cliquer sur le lien ci-dessous.
  </p>
<%= link_to 'Reset password', @url %>
  <p>Si vous n'êtes à l'origine de cette demande, veuillez modifier votre mot de passe.</p>
</body>
</html>